PORT="5000"
NODE_ENV="development" #test or production or development
SECRET_KEY=""
LOGIN_SECRET_TOKEN_VALUE="nodeauthsecret"
LOGIN_SESSION_TIME="9h" #==> "0.5h" "1h" "24h" "20d" "120s" "360d"
SECRET_HASH="secret-hash"
UPLOAD_PATH="document"
SEED_DEFAULT_PASSWORD="12345678"
PROTOCOL="tcp"
SSL=""
KEEPDEFAULTTIMEZONE=""

#DEVELOPMENT
DEV_USERNAME="root" 
DEV_PASSWORD=""
DEV_DATABASE="biztore_db_dev"
DEV_HOST="localhost"
DEV_DIALECT="mysql"
DEV_LOGGING="0"
#TEST
TEST_USERNAME="admin"
TEST_PASSWORD="12345"
TEST_DATABASE="biztore_db_test"
TEST_HOST="localhost"
TEST_DIALECT="mysql"
TEST_LOGGING="0"
#PRODUCTION
PRO_USERNAME=""
PRO_PASSWORD=""
PRO_DATABASE="biztore_db_pro"
PRO_HOST=""
PRO_DIALECT="mysql"
PRO_LOGGING="0"
#web3js.org

#GMAIL SERVICES AND SENDING EMAIL
SENDER_EMAIL="nacosseruib@gmail.com"
GMAIL_PASSWORD="Mylaptop4848*"
OAUTH_CLIENT_ID="803905951538-vptsocnen4eqmo42qcg8vvlgvpeo9lrp.apps.googleusercontent.com"
OAUTH_CLIENT_SECRET="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"
OAUTH_REDIRECT_URI="https://developers.google.com/oauthplayground"
OAUTH_REFRESH_TOKEN="1//04JLdSb5inw1xCgYIARAAGAQSNwF-L9Irz2D6Pm_fMK-dYVtcm8_ceNE4EfYYEDID1nZtZOG-Mpa1D29N7ptr3O-SkxEphzJ0Ddo"
SEND_FROM="admin@schooleportal.com" #"contact@biztore.com"
SEND_SUBJECT="Verification Token"
SEND_MESSAGE="Here is your verification token: "